
/*/!*ANIMATIONS*!/*/
/*.container.ng-enter,*/
/*.container.ng-leave {*/
    /*transition: 0.5s linear all;*/
    /*-webkit-transition: 0.5s linear all;*/
/*}*/

/*.container.ng-enter {*/
    /*opacity: 0;*/
    /*/!*color: green;*!/*/
/*}*/
/*.container.ng-enter.ng-enter-active {*/
    /*opacity: 1;*/
    /*/!*color: black;*!/*/
/*}*/
/*.container.ng-leave {}*/
/*.container.ng-leave.ng-leave-active {*/
    /*opacity: 0;*/
/*}*/

/*@keyframes animateView-enter {*/
    /*from {opacity:0;}*/
    /*to {opacity:1;}*/
/*}*/
/*@-webkit-keyframes animateView-enter {*/
    /*from {opacity:0;}*/
    /*to {opacity:1;}*/
/*}*/
/*@keyframes animateView-leave {*/
    /*from {opacity: 1;}*/
    /*to {opacity: 0;}*/
/*}*/
/*@-webkit-keyframes animateView-leave {*/
    /*from {opacity: 1;}*/
    /*to {opacity: 0;}*/
/*}*/

/*.animateView.ng-enter {*/
    /*-webkit-animation: 0.5s animateView-enter;*/
    /*animation: 0.5s animateView-enter;*/
/*}*/
/*.animateView.ng-leave {*/
    /*-webkit-animation: 0.5s animateView-leave;*/
    /*animation: 0.5s animateView-leave;*/
/*}*/

@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    /*to      { transform: translateX(-100%); }*/
    from    { transform:translateX(0); }
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
