<div class="row mt centered">
    <div class="col-lg-6">
        <img class="img-circle" src="img/daniel.jpg" width="140" alt="">
        <h4>Daniel Junior</h4>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever.</p>

        <p>
            <a href="http://danieljuniordeveloper.herokuapp.com/"><i class="glyphicon glyphicon-globe"></i></a>
            <a href="https://github.com/DanielJunior"> <i class="fa fa-github"></i></a>
            <a href="mailto:danieljuniordeveloper@gmail.com"><i class="fa fa-paper-plane"></i></a>
        </p>
    </div>
    <div class="col-lg-6">
        <img class="img-circle" src="img/igor.jpg" width="140" alt="">
        <h4>Igor Souza</h4>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever.</p>

        <p>
            <a href="http://igorsfa.github.io"><i class="glyphicon glyphicon-globe"></i></a>
            <a href="https://github.com/IgorSFA"> <i class="fa fa-github"></i></a>
            <a href="mailto:igorsfdea@gmail.com"><i class="fa fa-paper-plane"></i></a>
        </p>
    </div>
</div>