<div class="row mt centered">
    <div class="col-lg-6">
        <img class="img-circle" src="img/pokemon.jpg" width="140" alt="">
        <h4>Michael Robson</h4>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever.</p>

        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i
                class="glyphicon glyphicon-globe"></i></p>
    </div>
    <div class="col-lg-6">
        <img class="img-circle" src="img/pokemon.jpg" width="140" alt="">
        <h4>Michael Robson</h4>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever.</p>

        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i
                class="glyphicon glyphicon-globe"></i></p>
    </div>
</div>