<div class="row">
    <h1 class="centered">Welcome to our game!</h1>

    <form class="form-inline centered smallMarginTop" role="form" ng-submit="submit()">
        <div class="form-group">
            <input type="nickName" class="form-control center" id="nickName" ng-model="nickName"
                   placeholder="Type your nick here..." required>
        </div>

        <br/>

        <div class="form-group center smallMarginTop">
            <h3 style="display: inline">Choose a generation: </h3>
            <select id="generation" class="form-control center" ng-model="gen">
                <option value="0" checked>All</option>
                <option value="1">Gen I</option>
                <option value="2">Gen II</option>
                <option value="3">Gen III</option>
                <option value="4">Gen IV</option>
                <option value="5">Gen V</option>
                <option value="6">Gen VI</option>
            </select>
        </div>

        <br/>

        <button class="btn btn-warning btn-lg center smallMarginTop" type="submit">Let's go!</button>
    </form>
</div>