<div class="row">
    <h1 class="centered">Welcome to our game!</h1>

    <form class="form-inline centered" role="form" style="margin-top: 5%">
        <div class="form-group">
            <input type="nickName" class="form-control" id="nickName"
                   placeholder="Type your nick here...">
        </div>

        <br/>

        <div class="form-group center" style="margin: 5%">
            <h3 style="display: inline">Choose a generation: </h3>
            <select id="generation" class="form-control">
                <option value="7" checked>All</option>
                <option value="1">Gen I</option>
                <option value="2">Gen II</option>
                <option value="3">Gen III</option>
                <option value="4">Gen IV</option>
                <option value="5">Gen V</option>
                <option value="6">Gen VI</option>
            </select>
        </div>

        <br/>

        <a href="#/game">
            <button class="btn btn-warning btn-lg center">Let's go!</button>
        </a>
    </form>
</div>